// COLOURS

$color-primary: #47184C;
$color-dark: #1b1b1b;
$color-light: #E8C5E6;

$color-grey-light: #999;

$color-white: #fff;

$max: 'max';
$min: 'min';
$base-size: 16px;

$font1: 'BEBAS';
$font2: 'geomanist-regular';
$font2-italic: 'geomanist-regular-italic';
