.lst-Social_Items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.lst-Social_Item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.ft-Social_Icon {
  color: #fff;
}
